$background-colour: #FFFFFF;
$sidebar-colour: #202053;
$sidemenu-highlight: #FF005A;
$sidemenu-colour: #FFFFFF;
$title-colour: #0A1437;
$form_border-colour: #979797;
$input_background-colour: #FFFFFF;
$input_label-colour: #979797;
$warning-colour: #E8150C;
$description-colour:  #737C86;

$remove_button-colour: #E8150C;
$checkbox_check-colour: #4E9C3A;
$checkbox_checkborder-colour: #4E8D3E;

$add_button-colour: #0990B3;
$add_button-light-colour: #0AB6E3;
$add_button-border-colour: #118BAB;
$add_button-text-colour: #E8F6FF;
$add_button-highlight: #0AB6E3;

$ok_button-colour: #4E9C3A;
$ok_button-text-colour: #ECFEEC;
$ok_button-highlight: #62C549;

$cancel_button-colour: #8F98A1;
$cancel_button-text-colour: #EFEFEF;
$cancel_button-highlight: #AFBAC5;

$start_button-colour: #FF005A;
$start_button-highlight: #FF4586;
$start_button-text-colour: #FFF9FB;

$question_card-colour: #E8C41C;
$trash_button-colour: #A80F08;

$main-blue: #6260E7;
$main-links-colour: #070E28;